body {
    background-image: url(pixel.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100%;
    font-family: "Press Start 2P";
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P"
}
h1 {
    color: red;
    padding-top: 150px;
    padding-bottom: 90px;
}
button {
    color: rgb(28, 28, 243);
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 30px;
}